*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  font-family: sans-serif;
  background-color: rgb(243, 247, 250);
}

.search-loop {
  font-size: 20rem;
  color: gray;
  margin-bottom: 2rem;
}

.img {
  border-radius: 50%;
  width: 65rem;
  height: 60rem;
  font-weight: bold;
  object-fit: cover;
  border: 1rem solid #dfc5f3;
}

input:focus-visible {
  outline: none;
  box-shadow: none;
}

.img2 {
  position: absolute;
  top: 62%;
  left: 3%;
  border-radius: 50%;
  width: 140rem;
  height: 136rem;
  font-weight: bold;
  object-fit: cover;
  border: 3rem solid #4271ff;
}

.post-img {
  border-radius: 50%;
  width: 50rem;
  height: 50rem;
  font-weight: bold;
  object-fit: cover;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 5rem;
  border-bottom: 1rem solid rgb(185, 177, 205);
  padding-bottom: 5rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  background: linear-gradient(90deg, #4271ff 0%, #7a3ef2 100%);
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  height: 25%;
  margin-top: 15rem;
  padding: 5rem 30rem 4rem 9rem;
  border-radius: 30rem;
  gap: 5rem;
}

.find-friends {
  background-color: transparent;
  border: none;
  font-size: 17rem;
  color: black;
  padding-left: 0rem;
}

.introduce-div {
  width: 80%;
  margin: 0 auto;
  position: relative;
  border: 1rem solid #4271ff;
  border-top: none;
  border-radius: 0rem 0rem 10rem 10rem;
  margin-bottom: 25rem;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
}

.background-picture-div {
  margin-bottom: 15rem;
  display: flex;
  justify-content: center;
}

.background-image {
  width: 100%;
  height: 325rem;
  display: inline-block;
}

.name-div {
  padding-left: 197rem;
  padding-bottom: 20rem;
}

h1 {
  font-size: 30rem;
  margin-bottom: 5rem;
  padding-left: 15rem;
  padding-top: 5rem;
  color: rgb(48, 48, 48);
}

p {
  font-size: 17rem;
  font-weight: 300;
  padding-left: 15rem;
  margin-bottom: 7rem;
}

.write-post {
  background-color: rgb(222, 211, 242);
  padding: 5rem 0rem 5rem 15rem;
  border-radius: 7rem;
  gap: 5rem;
  border: none;
  width: 100%;
  font-size: 21rem;
  font-weight: 300;
  background-color: rgb(242, 242, 242);
}

.write-post::placeholder {
  font-size: 20rem;
}

.write-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  margin-bottom: 15rem;
  background-color: white;
  margin: 0 auto;
  width: 40%;
  padding: 7rem;
  border-radius: 12rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
}

.add-post {
  color: white;
  background-color: #4271ff;
  border-radius: 8rem;
  border: none;
  font-size: 15rem;
  padding: 8rem 0rem 8rem 0rem;
  font-weight: bold;
  width: 110rem;
  cursor: pointer;
  transition: background 0.3s;
}

.add-post:hover {
  background-color: #2253e6;
}

.friends-and-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20rem 90rem 20rem 20rem;
}

.width-div {
  background-color: white;
  width: 80%;
  border-radius: 7rem;
  padding: 15rem 15rem 5rem 15rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
}

.friends-div {
  padding-left: 130rem;
}

.friend-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
  padding: 3rem;
  box-shadow: none;
}

.friend-img {
  width: 130rem;
  height: 100rem;
  border-radius: 12rem;
  object-fit: cover;
  margin-bottom: 3rem;
}

.friend-name {
  font-size: 14rem;
  font-weight: 500;
}

.friends-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search-suggestions {
  background-color: white;
  border-radius: 0.5rem;
  position: absolute;
  top: 103%;
  z-index: 5;
  border-radius: 10rem;
}

.suggestion-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5rem;
  z-index: 5;
  width: 100%;
  padding: 7rem;
  border-radius: 10rem;
  margin-bottom: 3rem;
}

.suggestion-item:hover {
  background-color: rgb(248, 227, 243);
}

.suggestion-img {
  width: 58rem;
  height: 58rem;
  border-radius: 50%;
  object-fit: cover;
}

.suggestion-name {
  font-size: 23rem;
  z-index: 5;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding-left: 0rem;
}

li {
  background-color: white;
  margin-bottom: 20rem;
  padding: 15rem;
  border-radius: 10rem;
}

.post-item {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  max-width: 700rem;
}

.userName-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.post-text {
  font-size: 27rem;
  font-weight: 200;
  margin-bottom: 15rem;
  overflow-wrap: anywhere;
}

.comment-section {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.post-buttons-div {
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
}

.like,
.comment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 17rem;
  font-weight: bold;
  background: transparent;
  border: none;
  color: white;
  border-radius: 7rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #4271ff;
  transition: background 0.3s;
  cursor: pointer;
}

.like:hover,
.comment:hover {
  background-color: #2253e6;
}

.comment-input {
  width: 70%;
  font-size: 20rem;
  border-radius: 15rem;
  padding: 6rem;
  background-color: rgb(242, 242, 242);
  border: none;
  padding-left: 12rem;
}

.add-comment-btn {
  color: white;
  background-color: #4271ff;
  border-radius: 5rem;
  border: none;
  font-size: 16rem;
  padding: 7rem 10rem 7rem 10rem;
  font-weight: bold;
  transition: background 0.3s;
  cursor: pointer;
}

.add-comment-btn:hover {
  background-color: #2253e6;
}

.liked {
  background-color: pink;
}

.comment-user {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.comment-name {
  font-size: 18rem;
  font-weight: bold;
  margin-bottom: 3rem;
  padding-left: 5rem;
}

.comment-style {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.comment-text {
  font-size: 18rem;
  font-weight: 200;
  background-color: rgb(233, 241, 248);
  padding: 4rem 12rem 4rem 12rem;
  border-radius: 14rem;
  width: 100%;
  margin-bottom: 5rem;
}

.single-comment {
  margin-bottom: 0rem;
  padding: 10rem 5rem 10rem 15rem;
}

.comment-count {
  text-align: end;
  font-weight: bold;
  transition: color 0.1s;
  color: rgb(50, 50, 50);
  cursor: pointer;
}

.comment-count:hover {
  color: #3261ed;
}

.like-comment-div {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  margin-bottom: 5rem;
}

.left-mini-div {
  display: flex;
  align-items: center;
}

.delete-post-btn,
.edit-post-btn {
  color: white;
  border-radius: 5rem;
  font-size: 14rem;
  padding: 4rem 9rem 4rem 9rem;
  font-weight: bold;
  width: 100%;
}

.like-comment,
.delete-comment {
  font-size: 14rem;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  transition: text-decoration 0.3s;
}

.like-comment {
  margin-right: 3rem;
  cursor: pointer;
}

.like-comment:hover,
.delete-comment:hover {
  text-decoration: underline 2rem;
}

.like-delete-comment {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

.dot-btn {
  border: none;
  background-color: transparent;
}

.edit-com-btn {
  position: absolute;
  color: black;
  right: 0%;
  font-size: 10rem;
  top: 0%;
  border: none;
  background-color: transparent;
}

.like-com-div {
  display: flex;
  align-items: center;
}

.likes-number {
  font-size: 15rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.edit-comment-input {
  width: 100%;
  font-size: 18rem;
  padding-left: 10rem;
  padding-bottom: 3rem;
  border-radius: 5rem;
  border: none;
  padding-top: 3rem;
  background-color: rgb(222, 211, 242);
  border-radius: 48rem;
}

.edit-com-btn.editing svg {
  stroke: #3b82f6;
}

.date-p {
  color: black;
  font-size: 15rem;
  color: rgb(76, 76, 76);
}

.post-h1 {
  margin-bottom: 0rem;
  font-size: 25rem;
}

.liked-by-text {
  padding-left: 2rem;
}

.post-like,
.post-comment {
  font-size: 18rem;
}

.comment-li {
  margin-bottom: 0rem;
  padding-bottom: 10rem;
}

.options-btn {
  border: none;
  background-color: transparent;
  padding: 5rem 7rem 3rem 7rem;
  border-radius: 50%;
  margin-bottom: 20rem;
  transition: background 0.3s ease;
}

.options-btn:hover {
  background-color: rgb(198, 198, 198);
  cursor: pointer;
}

.options-icon {
  font-size: 23rem;
}

.right-mini-div {
  position: relative;
}

.options-div {
  position: absolute;
  background-color: transparent;
  top: 70%;
  left: -110%;
}

.edit-btn,
.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  font-size: 20rem;
  font-weight: bold;
  width: 100%;
  padding: 12rem 17rem 12rem 17rem;
  cursor: pointer;
  border: none;
}

.edit-btn {
  border-radius: 7rem 7rem 0rem 0rem;
  color: white;
  background-color: rgb(0, 108, 202);
}

.delete-btn {
  border-radius: 0rem 0rem 7rem 7rem;
  color: white;
  background-color: rgb(203, 0, 0);
}

.edit-btn:hover {
  background-color: rgb(0, 122, 228);
}

.delete-btn:hover {
  background-color: rgb(222, 0, 0);
}

.editing-input {
  width: 87%;
  font-size: 27rem;
  margin-bottom: 15rem;
  padding-left: 5rem;
}
